<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie-edge">
	<title>Registro Pago</title> 
	<link rel="stylesheet" href="/css/bootstrap.css">
	<link rel="stylesheet" href="login.css"
	<script src="/js/jquery-3.5.0.min.js"></script>
	<script src="/js/popper.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>	
</head>
<body>
	<div class="container">
		<div class="jumbotron">
			<h1 class="display-4">Realizar Pago.</h1>
			<p class="lead">Introduce los datos de tu tarjeta.</p>
			<hr class="my-4">
			<p class="text-danger">*Todos los datos son obligatorios.</p>
			<div class="row">
				<div class="col-3"></div>
				<div class="col-6">
				<form action="#" th:action="@{registroPago}" th:object="${registroPago}" method="post">
						<label>Tipo de pago: </label>
						<select th:field="*{tipopago}" class="form-control">
						<option value="Mastercard">Mastercard</option>
						<option value="Visa">Visa</option>
						</select>
						<label>Numero de Tarjeta: </label>
						<input type="tel" required="required" th:field="*{numtarjeta}"
							class="form-control" placeholder="A 16 digitos" 
							maxlength="16" min="1111111111111111" max="9999999999999999" />
						<label>Fecha de Vencimiento: </label>
						<input type="date" required="required" th:field="*{fechavencimiento}"
							class="form-control" min="2021-05-00"
							max="2027-12-00" />	
						<label>Numero de Seguridad: </label>
						<input type="number" required="required" th:field="*{numseguridad}"
							class="form-control" placeholder="Numero de 3 digitos." 
							maxlength="3" min="001" max="999" />
						</br>
						<p>
							<input type="submit" value="Registrar Reservacion" class="button" /></br> </br> <input class="button" type="reset"
								value="Borrar datos" />
						</p>
					</form>
					<div th:if="*{error != null}"
						class="alert alert-warning alert-dismissible fade show"
						role="alert">
						<button type="button" class="close" data-dismiss="alert">&times;</button>
						<h4 th:text=*{error}></h4>	
					</div>
				</div>
				<div class="col-3"></div>
			</div>
				<hr class="my-4">
			<div class="row">
				<div class="col-2"></div>
				<div class="col-8">
					<p>Desarrollo de Aplicaciones Web.Genoveva Gonzalez.</p>
					<p>ITSSNP 2021.</p> 
				</div>
				<div class="col-2"></div>
			</div>
		</div>
	</div>
</body>
</html>